# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor:not(.mini)': [
    {
      'label': 'Bart: Upload file to sandbox'
      'command': 'bart:uploadFile'
    }, {
        'label': 'Bart: Toggle Breakpoint'
        'command': 'bart:toggleBreakpoint'
    }
  ]
'menu': [
  {
      'label': 'Bart'
      'submenu': [
        {
          'label': 'Upload all cartridges'
          'command': 'bart:uploadAll'
        }, {
          'label': 'Open settings...'
          'command': 'bart:openConfig'
        }, {
          'label': 'Open/Close Debugger'
          'command': 'bart:toggleDebugger'
        },{
          'label': 'Create New Cartridge'
          'command': 'bart:openCreateNewCartridgeView'
        }
      ]
  }
]
