# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'f9': 'bart:toggleBreakpoint'
  'f12': 'bart:toggleDebugger'
  'f8' : 'bart:resume'
  'f10': 'bart:stepover'
  'f11': 'bart:stepin'
  'shift-f11': 'bart:stepout'
