// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.bart {

}
.clearboth {
    clear: both;
}
.b-bart-options {
    max-height: 600px;
    overflow-y: auto;
}

.b-bart_variables {
    max-height: 400px;
    overflow: scroll;
}
.b-bart_parent_stack {
    float: left;
    max-height: 400px;
    overflow: scroll;
}
.bart_pad_tree {
    padding-left: 15px;
}
.bart-password {
  font-size: 1.15em;
  line-height: 2em;
  border-radius: 3px;
  color: @text-color;
  border: 1px solid @input-border-color;
  background-color: @input-background-color;
  width: 100%;
}



atom-text-editor::shadow {
  .gutter .line-number {
      &.bart-stop-line:before {
        content: ">";
        color: @text-color
      }

      &.node-debugger-attached-breakpoint {
        background-color: #F00;
      }

      &.bart-breakpoint {
        background-color: @background-color-warning;
      }

  }
  .bart-breakpoint_active {
      background-color: @ui-site-color-5;
  }
}
